body {
	background-color: cornsilk;
}

.mada {
	font-size: 5vw;
	color: peachpuff;
	font-family: courier;
	padding-top: 3vw;
	animation: fontcolor 2s infinite alternate;
}

@keyframes fontcolor {
	0% {
		font-size: 5vw;

	}
	100% {
		font-size: 7vw;

	}
}

.cat {
	font-family: courier;
	font-size: 40px;
	color: white;
	background-color: #6495ED;
	text-align: center;
}