.madabottom {
	font-size: 1vw;
	font-family: arial;
	position: fixed;
	padding-top: 225px;
	transform:skew(30deg);
	color: lightblue;
	padding-right: 10vw;
}

span {
	font-style: italic;
}

.cat {

	font-family: arial;
	font-weight: bold;
	font-size: 6vw;
	color:pink;
	text-align: center;
	position:fixed;
	bottom:270px;
	background-color: #FFFF99;
}

.madatop {
    font-size: 1vw;
	font-family: arial;
	position: fixed;
	padding-top: 30px;
	transform:skew(-30deg);
	color: lightblue;
	padding-left: 6vw;
	text-align: center;
	font-weight: bold;
}