.cat {
	font-family: arial;
	font-weight: bold;
	color: white;
	font-size: 150px;
	text-align: right;
	top: 30px;

}

body {
	background-color: #99CCCC;
}

.mada {
	font-family: arial;
	font-weight: bold;
	outline-color: yellow;
	margin-top: 2px;
	transform: rotate(20deg);
	background-color:yellow;

