body {
	font-family: courier new;
	font-size: 22px;
	color:black;
	background-color: mintcream;
}

.question {
	font-weight: bold;
	margin: auto;
  	width: 50%;
  	padding: 10px;
}

.question2 {
	font-weight: bold;
	margin: auto;
  	width: 50%;
  	padding: 10px;
}

.name {
	background-color: peachpuff;
	width:20%;
	position: fixed;
	margin-left: 5vh;
}

.title {
	font-size: 37px;
	font-weight: bold;
	margin: auto;
  	text-align: center;
  	margin-top: 5vh;
  	padding: 40px;
  	width: 49%;
  	border: 10px dotted thistle;	
}

.content {
   	margin: auto;
  	width: 50%;
  	padding: 10px;	
}

.cloud img {
	width: 20%;
	height: 35%;
	position: fixed; 
	top: 18vh;
	right: -6vh;
}

.cloud2 img {
	width: 30%;
	height: 45%;
	position: fixed; 
	top: 60vh;
	right: -6vh;
}